* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.page {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 37%;
  min-height: 100vh;

  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;

  position: relative;
}

.content {
  width: 60%;
  background-color: #f5f5f5;
}
.logo-container {
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 180px;
  padding: 15px;
}

.logo-container img {
  width: 70px;
  height: auto;
}

.logo-container span {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-left: 10px;
}
.photo-credit {
  position: absolute;

  bottom: 10px;
  left: 0;
  right: 0;

  margin: 0;

  color: white;
  text-align: center;
  font-size: 0.75rem;
}
.content {
  width: 63%;
  background-color: #f5f5f5;
}

.intro {
  padding: 60px 50px 40px;

  font-size: 1.2rem;
  font-weight: bold;

  max-width: 750px;
}

.intro p {
  margin-bottom: 20px;
}

.form-container {
  background-color: white;
  padding: 25px 50px 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.form-container h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.form-group input:focus {
  border: 1px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
  outline: none;
}

.form-group input[type="password"]:user-invalid {
  border: 1px solid red;
}

.form-container button {
  margin-top: 10px;
  background-color: #596d48;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.form-container button:hover {
  opacity: 0.9;
}

.account-action {
  padding: 20px 50px;
}
.account-action p {
  margin: 0;
}

.account-action a {
  color: #596d48;
  font-weight: bold;
  text-decoration: none;
}

.account-action a:hover {
  text-decoration: underline;
}
